# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
    'Convert to smart quotes': 'smart-quotes:smart'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Smart Quotes'
      'submenu': [
        { 'label': 'Convert to smart quotes', 'command': 'smart-quotes:smart' }
      ]
    ]
  }
]
